<!-- Generated template for the InfoLeafoComponent component -->
<div id="leafo-rate" (click)="testMe()">
  <div class="text">
    <div class="logo">
      <img [src]="faceUrl" />
    </div>
    <h2 id="day"></h2>

    <div> 
      <div class="list">
        <div class="review-button" [ngClass]="{selected: original==0}" (click)="setReview(0)">0%</div>
        <div class="review-button" [ngClass]="{selected: original==25}" (click)="setReview(25)">25%</div>
        <div class="review-button" [ngClass]="{selected: original==50}" (click)="setReview(50)">50%</div>
        <div class="review-button" [ngClass]="{selected: original==75}" (click)="setReview(75)">75%</div>
        <div class="review-button" [ngClass]="{selected: original==100}" (click)="setReview(100)">100%</div>
      </div>


      
      <!--<button ion-button full large (click)="callFunc(callback1)" class="success">OK</button>-->
    </div>
  </div>
</div>  
