<ion-header>
  <ion-toolbar color="primDark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Kalendář</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <calendar (onSelectDate)="onDateSelected($event)"></calendar>


  <ion-grid *ngIf="currrentDayDownloaded">
    <ion-row text-left padding>
      <ion-col size="12" class="day-review">
        <h5>Hodnocení dne</h5>
        <div class="circ main-day" text-center *ngIf="!visibleRatings">
          <span class="day-num">{{ currentDay.dayNumberToShow }}</span>
          <span class="day-in-week">{{ currentDay.dayNameToShow }}</span>
        </div><!--(click)='chooseReview(0)'-->
        
        <div [className]="visibleRatings ? 'review list-visible' : 'review list-invisible'">
          <div id="review-changer" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" class="close review-button" [@animator]="animationState" (@animator.done)="resetAnimationState()">{{ reviewText }}</div>
          <div [className]="visibleRatings ? 'list' : 'list hidden'">
            <div class="review-button" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" [@animator]="animationState" (@animator.done)="resetAnimationState()">25%</div>
            <div class="review-button" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" [@animator]="animationState" (@animator.done)="resetAnimationState()">50%</div>
            <div class="review-button" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" [@animator]="animationState" (@animator.done)="resetAnimationState()">75%</div>
            <div class="review-button" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" [@animator]="animationState" (@animator.done)="resetAnimationState()">100%</div>
            <div class="review-button" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)" [@animator]="animationState" (@animator.done)="resetAnimationState()">0%</div>
          </div>
        </div>

        
        <div class="circle" [ngClass]="getRatingClass()"></div>

      </ion-col>
      <ion-col size="10" offset="1" class="notes">
        <!--<h5>Poznámky</h5>-->
        <ion-list lines="none" *ngIf="currentDay.details != undefined">
          <ion-item-divider>
            Upozornění
          </ion-item-divider>
          <ion-item text-wrap *ngFor="let notif of currentDay.details['notifications']">
            <ion-icon name="time" item-start></ion-icon>
            <p (click)="openEditNotification(notif.id_n, notif.text, notif.time)"> {{ notif.text }} </p>
            <ion-icon name="trash" item-end (click)="deleteNotification(notif.id_n. this)" class="trash"></ion-icon>
            <ion-icon name="create" item-end (click)="openEditNotification(notif.id_n, notif.text, notif.time)"></ion-icon>
          </ion-item>
          <ion-item-divider>
            Poznámky
          </ion-item-divider>
          <ion-item text-wrap *ngFor="let note of currentDay.details['notes']">
            <ion-icon [name]="note.icon" item-start></ion-icon>
            <p (click)="openEditNote(note.id_n, note.text)"> {{ note.text }} </p>
            <ion-icon name="trash" item-end (click)="deleteNote(note.id_n, this)" class="trash"></ion-icon>
            <ion-icon name="create" item-end (click)="openEditNote(note.id_n, note.text)"></ion-icon>
          </ion-item>

          <ion-item text-wrap *ngIf="currentDay.details['apple'] != null">
            <ion-icon name="logo-apple" item-start
              [ngStyle]="{ 'color': (currentDay.details.apple.id_ra==undefined ? 'yellow' : 'red') }"></ion-icon>
            <p> {{ currentDay.details['apple'].text }} </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      
    <ion-fab-button color="orange">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button *ngIf="isWoman" color="orange" (click)="openPeriodSettings();">
            <ion-icon name="woman"></ion-icon>
          </ion-fab-button>
      <ion-fab-button color="orange" (click)="openAddNote();">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="orange" (click)="openAddNotification();">
        <ion-icon name="time"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="orange" (click)="openGraph()">
      <ion-icon name="stats"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>