h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.circ {
  border-radius: 50%;
  min-width: 7vh;
  min-height: 7vh;
  background-color: var(--ion-color-orange);
  float: left;
  margin-right: 8px;
  color: white;
}

.review-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px !important;
  left: 0px !important;
  font-size: 0.8em;
  color: white;

  .grid {
    padding: 0px;
  }
  .circ {
    margin-right: 0px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    box-shadow: 2px 2px 2px black;
  }
}

.close-icon {
  display: none;
}

.button-inner {
  opacity: 1 !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  background-color: var(--ion-color-orange);
}

.fab {
  background-color: var(--ion-color-orange);
}

ion-fab-list,
ion-fab {
  //background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.list-visible {
  width: 100%;
  .list {
    width: 95%;
  }
}

.list-invisible {
  width: 76px;
  .list {
    width: 60px;
  }
}

.review {
  overflow: hidden;
  position: absolute;
  right: 0px;
  line-height: 3em;
  font-size: 1em;
  top: 24px;
  height: 76px;

  --prom: 60px;

  .list {
    height: 60px;
    display: inline-block;
    background-color: rgba(var(--ion-color-orange-rgb), 0.5);

    div:nth-child(1) {
      right: var(--prom);
    }
    div:nth-child(2) {
      right: calc(2*var(--prom));
    }
    div:nth-child(3) {
      right: calc(3*var(--prom));
    }
    div:nth-child(4) {
      right: calc(4*var(--prom));
    }

    .review-button {
      top:0px;
    }
  }
  div {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-orange);
    color: white;
  }


  .close {
    z-index: 2;
  }
/*
  */
  /*
  div {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-orange);
    color: white;
  }*/
/*
  .list {
    div {
      top: unset;
      right: unset;
      bottom: unset;
      left: unset;
    }
    div:nth-child(1) {
      left: -110%;
    }
    div:nth-child(2) {
      right: -110%;
    }
    div:nth-child(3) {
      top: -110%;
    }
    div:nth-child(4) {
      bottom: -110%;
    }
  }*/
}


.r0 {
}

.r-1 {
  display:none;
}

.r25 {
  background-image: linear-gradient(180deg, transparent 50%, var(--ion-color-orange) 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.r50 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

.r75 {
  background-image: linear-gradient(180deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.r100 {
  background: white;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: var(--ion-color-orange);
  border: 2px solid var(--ion-color-orange);
}

.calendar {
  max-width: 600px;
  margin: 0 auto;

  .today {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .selected {
    background-color: rgba(42, 105, 140, 0.6);
    text-shadow: 2px 2px 2px black;
  }
}

ion-item-divider {
  background-color: var(--ion-color-orange);
  color: var(--ion-color-orange-contrast);
}

.main-day {
  width: 8vh;
  height: 8vh;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;

  .day-num {
    font-weight: 900;
  }

  .day-in-week {
    font-size: 0.8em;
  }
}

ion-row[padding] {
  padding-top: 0px;

  h5 {
    margin-top: 0px;
    color: white;
  }
}

.day-review {
  height: 88px;
}

.review-buttons {
  position: absolute !important;
  overflow: visible;
  top: -30px;
  left: 17px;
}

.notes {
  ion-item {
    --padding-start: 8px;
    --inner-padding-end: 8px;
    --inner-border-width: 0px 0px 0.55px 0px;
  }
  
  ion-icon {
    margin: 0 !important;
  }

  p {
    width: 100%;
    margin: 8px;
    margin-left: 12px;
    margin-right: 0px;
    font-size: 12px;
  }

  .item-inner {
    margin: 0 !important;
    margin-left: 6px !important;
  }
}

.card-md {
  background: var(--ion-color-orange); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--ion-color-orange),
    var(--ion-color-orange-shade)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--ion-color-orange),
    var(--ion-color-orange-shade)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notes ion-list ion-item {
  background-color: white!important;
  color: black;
}