<ion-header>
  <ion-toolbar color="primDark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Kalendář</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <calendar (onSelectDate)="onDateSelected($event)"></calendar>


  <ion-grid *ngIf="currrentDayDownloaded">
    <ion-row text-left padding>
      <ion-col size="5" class="day-review">
        <h5 *ngIf="!visibleRatings">Hodnocení dne</h5>
        <div class="circ main-day" text-center *ngIf="!visibleRatings">
          <span class="day-num">{{ currentDay.dayNumberToShow }}</span>
          <span class="day-in-week">{{ currentDay.dayNameToShow }}</span>
        </div>

        <div class="review">
          <div (click)='chooseReview(101)' class="close">{{ reviewText }}</div>
          <div class="list" *ngIf="visibleRatings">
            <div (click)='chooseReview(100)'>100%</div>
            <div (click)='chooseReview(25)'>25%</div>
            <div (click)='chooseReview(50)'>50%</div>
            <div (click)='chooseReview(75)'>75%</div>
          </div>
        </div>

      </ion-col>
      <ion-col size="7" class="notes">
        <!--<h5>Poznámky</h5>-->
        <ion-list lines="none" *ngIf="currentDay.details != undefined">
          <ion-item-divider>
            Upozornění
          </ion-item-divider>
          <ion-item text-wrap *ngFor="let notif of currentDay.details['notifications']">
            <ion-icon name="time" item-start></ion-icon>
            <p> {{ notif.text }} </p>
          </ion-item>
          <ion-item-divider>
            Poznámky
          </ion-item-divider>
          <ion-item text-wrap *ngFor="let note of currentDay.details['notes']">
            <ion-icon [name]="note.icon" item-start></ion-icon>
            <p> {{ note.text }} </p>
          </ion-item>

          <ion-item text-wrap *ngIf="currentDay.details['apple'] != null">
            <ion-icon name="logo-apple" item-start
              [ngStyle]="{ 'color': (currentDay.details.apple.id_ra==undefined ? 'yellow' : 'red') }"></ion-icon>
            <p> {{ currentDay.details['apple'].text }} </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="start" vertical="bottom">
    <ion-fab-button color="orange">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="orange" (click)="openAddNote();">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="orange" (click)="openAddNotification();">
        <ion-icon name="time"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="orange" (click)="openGraph()">
      <ion-icon name="stats"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>