    ion-item {
        padding: 1em;
    }

    .first-btn-item {
        margin-top: 10vh;
    }

    .advisor-img {
        max-width: 120px;
    }

    .item-md {
    	background-color: transparent!important;
    }

