<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primDark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Rady</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
<div *ngIf="currentAdvice==''">
  <ion-list lines="none">
    <ion-item>
      <h1 class="ma-centered">Od koho potřebuješ poradit?</h1>
    </ion-item>
  
    <ion-item>
        <img src="./assets/imgs/avatar2.png" class="advisor-img ma-centered">
    </ion-item>

    <ion-item>
        <ion-button size="large" expand="full" color="green" (click)="getNewAdvice(1)"  class="ma-centered">Máma</ion-button>
    </ion-item>
    
    <ion-item>
        <img src="./assets/imgs/avatar3.png" class="advisor-img ma-centered">
    </ion-item>

    <ion-item>
      <ion-button class="ma-centered" size="large" expand="full" color="green" (click)="getNewAdvice(2)">Přítel</ion-button>
    </ion-item>
    
  </ion-list>
</div>
<div *ngIf="currentAdvice != ''">

  <ion-list lines="none">
      <ion-item>
        <img [src]="getAdvisorImage()" width="50%" >
      </ion-item>
      <ion-item>
          <h2 id="advisor">{{ getAdvisor() }}</h2>
      </ion-item>
      <ion-item>
          <h3 id="advice"> {{ currentAdvice }} </h3>
      </ion-item>
  </ion-list>
</div>
</ion-content>
<ion-footer *ngIf="currentAdvice != ''">
  <ion-toolbar>
      <img style="margin-left:35%" src="./assets/imgs/List.png" width="30%">  
      <ion-title><h3 style="text-align:center; color:white;">Pro další radu si přijď zítra!</h3></ion-title>
    </ion-toolbar>
  </ion-footer>
