    ion-item {
        padding: 1em;
    }

    .first-btn-item {
        margin-top: 10vh;
    }

    .advisor-img {
        max-width: 120px;
    }

    .item-md {
    	background-color: transparent!important;
    } 
    
    img {
        margin: auto;
    }

    ion-item {
        margin: 0;
    }

    #advice {
        width:100%;
        text-align: center;
    }

    #advisor {
        width:100%;
        text-align: center;
    }


