.noBorder, .list-md .noBorder.item-block .item-inner, .noBorder.item-ios.item-block .item-inner, .list-ios .noBorder.item-block .item-inner {
	border: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.noMargin .item-inner .item-wrapper .label h2 {
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.item-list {
	border-top: none;
}
.list-ios > .item-block:first-child {
	border-top: none;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
	border: none;
}
ion-col {
	text-align: left;
	font-size: 14px;
}
ion-grid .item-md.item-block .item-inner {
	padding-right: 0px;
	border-bottom: 0px solid transparent;
}
.item.item-md ion-checkbox.checkbox-md {
	margin: 0px;
	font-size: 12px;
}
.item.item-md ion-checkbox .checkbox-icon {
	display: none;
}
.item-checkbox ion-label {
	margin: 0px;
	padding: 4px;
	border-radius: 2px;
	font-size: 12px;
	transition: 0.5s;
}
ion-col .item-block {
	min-height: auto;
	padding-left: 0px;
}

.active {
	//background-color: rgba(var(--ion-color-green-rgb), 0);
	//color: white;
}

ion-col ion-button {
	width: 100%;
	height: 20px;
	margin: 0px;
	padding: 0px;
	--background: rgba(0, 0, 0, 0.6);
	color: white;
	box-shadow: none;
	font-size: 12px;
	text-transform: none;
}
.bigBtn button, .bigBtn button.button-md-primary {
	display: block;
	padding: 20px 40px;
	font-size: 16px;
	margin: 0 auto;
	background-color: var(--ion-color-green);
}
.bigBtn {
	width: calc(100% - 16px);
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: center;
	margin: 13px 0px;
	bottom: 0px;
	z-index: 2;
}
.bigBtn ion-icon {
	margin-left: 8px;
}
.item-md {
	background-color: transparent!important;
	color: white;
}

ion-list {
	width: 100%;
}

ion-list-header {
	justify-content: flex-start;
	color: white;
	font-size: 16px;
	ion-icon {
		margin-right: 8px;
	}
}

ion-slide {
	display: flex;
	align-items: center;
}

.znameni {
	p {
		text-align: center;
	}

	img {
		margin-left: 20%;
		width: 60%;
	}
}

.profile-img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	object-fit: cover;
}


ion-col ion-button.section {
	height: 60px;
	margin: 0px;
	--background: rgba(0, 0, 0, 0.6);
	color: white;
	box-shadow: none;
	font-size: 14px;
	text-transform: none;
	text-align: left;
}

ion-col ion-button.section span {
	position: absolute;
	content: "";
	left: 40px;
}

ion-col ion-button.section ion-icon {
	position: absolute;
	content: "";
	right: 40px;
}

ion-grid {
	margin-top: 24%;
}

ion-row {
	margin-bottom: 4%;
}