<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primDark">
      <ion-buttons>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Nastavení</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-slides #slider (ionSlideWillChange)="justChanged()">
    <ion-slide>
      <ion-list lines="none">
        <ion-list-header>
          Základní údaje
        </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon> Přihlašovací údaje
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primNormal" stacked>
          E-mail
        </ion-label>
        <ion-input type="email" value="{{ currentUserData.email }}" (input)='onInput("email", $event.target.value);'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primNormal" stacked>
          Heslo
        </ion-label>
        <ion-input type="password" value="12345"></ion-input>
      </ion-item>
    </ion-list>
    </ion-slide>

    <ion-slide>
        <ion-list lines="none">
            <ion-list-header>
              Úprava profilu
            </ion-list-header>
      <ion-item>
        <ion-label color="primNormal" stacked>
          Křestní jméno
        </ion-label>
        <ion-input type="text" value="{{ currentUserData.firstname }}" (input)='onInput("firstname", $event.target.value);'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primNormal" stacked>
          Oslovení
        </ion-label>
          <ion-input type="text" value="{{ currentUserData.addressing }}" (input)='onInput("addressing", $event.target.value);'></ion-input>
      </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
        <ion-list lines="none">
            <ion-list-header>
              Personalizace
            </ion-list-header>
      <ion-item>
        <ion-select [(ngModel)]="currentUserData.sign">
          <ion-select-option value="1">Kozoroh</ion-select-option>
          <ion-select-option value="2">Vodnář</ion-select-option>
          <ion-select-option value="3" selected>Ryby</ion-select-option>
          <ion-select-option value="4">Beran</ion-select-option>
          <ion-select-option value="5">Býk</ion-select-option>
          <ion-select-option value="6">Blíženec</ion-select-option>
          <ion-select-option value="7">Rak</ion-select-option>
          <ion-select-option value="8">Lev</ion-select-option>
          <ion-select-option value="9">Panna</ion-select-option>
          <ion-select-option value="10">Váhy</ion-select-option>
          <ion-select-option value="11">Štír</ion-select-option>
          <ion-select-option value="12">Střelec</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 20px;">
        <ion-label>Pohlaví</ion-label>
      </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="currentUserData.sex">
          <ion-select-option value="1" selected>Muž</ion-select-option>
          <ion-select-option value="2">Žena</ion-select-option>
          <ion-select-option value="3">Jiné</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
        <ion-list lines="none">
            <ion-list-header>
              Charakteristiky
            </ion-list-header>
      <ion-grid>
        <ion-row *ngFor="let row of vysledek">
          <ion-col *ngFor="let col of row">
            <ion-button size="small" [ngClass]="{'active': col.active}" (click)="updateBckg(col)">
              {{ col.name }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list lines="none">
        <ion-list-header>
          Změna avatara
        </ion-list-header>
      <ion-card (click)="upload()">
      
        <ion-card-header>
          <img [src]="userImage">
        </ion-card-header>
      
        <ion-card-content>
          Tapni pro změnu profilové fotky
        </ion-card-content>
      
      </ion-card>
      <!--<button ion-button color="primNormal" (click)="upload()">Nahrát avatara</button>-->
      </ion-list>
    </ion-slide>

  </ion-slides>
  <div class="bigBtn">
    <ion-button color="green" (click)="slideRight()">{{ nextText }}<ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
  </div>
</ion-content>