<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primDark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Profil</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/profile-edit">
        <ion-icon name='create'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row class="jc">
      <ion-col size="3" text-center>
        <div class="apple-wrapper"> {{ level }}</div>
      </ion-col>

      <ion-col size="6" text-center padding-top>
        <h2><b>{{ username }}</b></h2>
      </ion-col>

      <ion-col size="3">
        <div class="depka-wrapper"><ion-button routerLink="/depression" routerDirection="forward" [disabled]="diffDates < 30" color="yellow">DEPKA</ion-button>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col text-center>

        <img class="ma-centered avatar" [src]="photo">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <div *ngFor="let quote of quotes">
      <quote [quoteObj]="quote"></quote>
    </div>
    <div *ngIf="false">
        <horoscope [horoscopeObj]="horoscope"></horoscope>
    </div>
  </ion-list>
</ion-content>