page-profile {
    
    .avatar {
        width: 50% !important;
    }
    .apple-wrapper {
        font-weight: 800;
        font-size: 1.5em;
        color: black;
        padding: 14px;
        line-height: 1.5em;
        height: 55px;
        width: 50px;
        background-image: url("../assets/imgs/aGolden.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
