page-tree {
	overflow: hidden;
}

.scroll-content {
	overflow: hidden;
}

.tree {
	width: 80%;
	margin: 0px auto;
	position: absolute;
	bottom: -20px;
	left: 10%;
}

.grass {
	width: 100vw;
	height: 61px;
	position: absolute;
	bottom: -20px;
	left: 0px;
	object-fit: cover;
}

.konvicka {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	transform: rotate(50deg);
	transition: 0.5s;
}

.clickable-konvicka {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.kapky {
	width: 80px;
	height: 160px;
	display: none;
	position: absolute;
	bottom: 50%;
	right: 100px;
}

/* JABLKA */

.apple {
	width: 30px;
	height: 30px;
	position: absolute;
}

.apple.collectible {
	-webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
}

/* Padani listu */

.animated {
	width: 100%;
	height: auto;
	img {
		width: 40px;
		height: auto;
		position: absolute;
		top: 0px;
		left: 0px;
		animation: 1.5s waving infinite;
		transition: transform 0.5s;
	}
	img.first {
		left: 12%;
	}
	img.second {
		left: 42%;
	}
	img.third {
		left: 72%;
	}
}

.white {
	color: white;
	.first:after {
		width: 1px;
		height: 60%;
		position: absolute;
		top: 20%;
		right: 0px;
		content: "";
		background-color: #CECECE;
	}
}

/* KeyFrames */

@keyframes opacka {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes waving {
	0% {
		transform: rotate(0deg) translateX(0px);
	}
	50% {
		transform: rotate(-35deg) translateX(32px);
	}
	100% {
		transform: rotate(0deg) translateX(0px);
	}
}