.quote {
    margin-bottom: 12px;
    width: 100% !important;

    .item-inner {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.isnew {
    border: 3px solid gold;
}

.quote-text {
    width: 100%;
    text-align: center;
    //font-family: 'KabanaBook';
}

ion-label.quote-text p {
    padding: 10px 8% 0px 8%;
    color: var(--ion-color-sec-light-text);
}

ion-label.quote-text p:last-child {
    padding-bottom: 10px;
    opacity: 0.6;
}

.action-icons {
    padding: 0px;
    padding-top: 6px;
}

.action-icons ion-icon {
    color: var(--ion-color-sec-light-text);
    font-size: 2em;
    padding: 5px;
}

.action-icons button {
    padding: 0;
    box-shadow: 0;
}

.item-md.item-block .item-inner {
    border-bottom: none;
}

/* HERE THE QUOTES GO */
.item.md {
    /* CERVENA */
    background: var(--ion-color-red);
    background: -webkit-linear-gradient(to right, var(--ion-color-red), var(--ion-color-red-tint));
    background: linear-gradient(to right, var(--ion-color-red), var(--ion-color-red-tint));

    /* ZELENA */
    background: var(--ion-color-green);
    background: -webkit-linear-gradient(to right, var(--ion-color-green), var(--ion-color-green-tint));
    background: linear-gradient(to right, var(--ion-color-green), var(--ion-color-green-tint));
}
.action-icons .button-md {
    background-color: transparent;
}

.star {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 24px;
    color: white;
}