quote {
    .quote {
        margin: 12px 0px;
        /*border-left: 12px solid map-get($colors, secDark) !important;*/
    }
    
    .quote-text {
        font-family: 'KabanaBook';
        //color: white;
        color: map-get($colors, secLightText) !important;
    }

    .action-icons {
        padding: 0px;
        padding-top: 6px;
    }

    .action-icons ion-icon {
        color: map-get($colors, secLightText);
        font-size: 2em;
        padding: 5px;
    }

    .action-icons button {
        padding: 0;
        box-shadow: 0;
    }

    .item-md.item-block .item-inner {
        border-bottom: none;
    }

    /* HERE THE QUOTES GO */
    .item-md {
        background: map-get($colors, primNormal);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, map-get($colors, primNormal), map-get($colors, primDark));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, map-get($colors, primNormal), map-get($colors, primDark)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*background-color: map-get($map: $colors, $key: primDark) !important;*/
    }
    .action-icons .button-md {
        background-color: transparent;
    }
}
