<!-- Generated template for the QuoteComponent component -->
<div class="quote" id="qt{{quoteObj.id}}">
  <ion-item>
    <ion-icon name="star-outline" class="star"></ion-icon>
    <ion-label class="quote-text" text-wrap>
      <p>"{{ quoteObj.text }}"</p>
      <p>- {{ quoteObj.author }}</p>
    </ion-label>
    <!--<div class="action-icons ma-centered">
      <button ion-button><ion-icon name="share"></ion-icon></button>
      <button ion-button><ion-icon name="image"></ion-icon></button>
      <button ion-button (click)="onFavedClicked()">
          <ion-icon *ngIf='quoteObj.faved==1' name="star"></ion-icon>
          <ion-icon *ngIf='quoteObj.faved==0' name="star-outline"></ion-icon>        
      </button>
    </div>-->
  </ion-item>
</div>
  <!--
  <ion-item-options side="start">
    <button ion-button color="dark" (click)="unread(item)"><ion-icon name="image"></ion-icon></button>
  </ion-item-options>-->