<ion-header>

  <ion-toolbar color="primDark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides #slider pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-list lines="none">
        <ion-list-header>
          Personalizace
        </ion-list-header>
        <ion-item>
          <ion-grid class="znameni">
            <ion-row *ngFor="let znam of znameni">
              <ion-col size="3" *ngFor="let zn of znam">
                <div class="obj" [ngClass]="{'active': zn.active}" (click)="selectZnameni(zn, this)">
                  <img [src]="zn.image">
                  <p>{{ zn.name }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list lines="none">
        <ion-item>
          <ion-label color="primNormal" position="floating">
            Oslovení
          </ion-label>
          <ion-input type="text" [(ngModel)]="currentUserData.addressing"></ion-input>
          <ion-icon name="volume-high" slot="start"></ion-icon>
        </ion-item>
        <ion-item style="margin-top: 20px;">
          <ion-label>Pohlaví</ion-label>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="currentUserData.sex">
            <ion-select-option value="1" selected>Muž</ion-select-option>
            <ion-select-option value="2">Žena</ion-select-option>
            <ion-select-option value="3">Jiné</ion-select-option>
          </ion-select>
          <ion-icon name="transgender" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <h3 style="width: 100%; margin: 20px 0px 20px 0px; text-align: center;">Avatar</h3>
        </ion-item>
        <img class="profile-img" [src]="userImage" (click)="this.islocationvisible = !this.islocationvisible">
        <ion-grid *ngIf="islocationvisible">
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="selectFromGalerie()">Galerie</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="selectFromFotoaparat()">Fotoaparát</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    <ion-list>
      <ion-button (click)="saveData()" color="orange">Uložit</ion-button>
    </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>