<ion-header>
  <ion-toolbar color="primDark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Depka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="yellow">
    "Jsi úžasný člověk, {{ addressing }}"
  </ion-card>
  <ion-card color="yellow">
    "{{ horoscope }}"
  </ion-card>

  <ion-card color="yellow">
    "{{ characteristics }}"
  </ion-card>

  <ion-card color="yellow">
    <ion-card-header>
      Video
    </ion-card-header>
    <ion-card-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sKTLmgKmxFA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>