<ion-header>
  <ion-toolbar color="primDark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Depka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="nun">
    <p>"Jsi úžasný člověk, {{ addressing }}"</p>
    <p>"{{ horoscope }}"</p>
    <p>"{{ characteristics }}"</p>
  </ion-card>

  <ion-card class="first">
    <p>"Jsi úžasný člověk, {{ addressing }}"</p>
  </ion-card>

  <ion-card class="fourth">
    <p>"{{ horoscope }}"</p>
  </ion-card>

  <ion-card class="second">
    <p>"{{ characteristics }}"</p>
  </ion-card>

  <ion-card color="yellow">
    <ion-card-header>
      Video
    </ion-card-header>
    <ion-card-content>
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/6YzRv8vocy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>