<ion-header>
		<ion-toolbar color="primDark">
			<ion-buttons slot="start">
				<ion-back-button></ion-back-button>
			  </ion-buttons>
		  <ion-title>Nastavení ovulačního cyklu</ion-title>
		</ion-toolbar>
	  </ion-header>


<ion-content padding>
	<ion-item>
  		<ion-label>Začátek ovulace</ion-label>
  		<ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label>
			Délka ovulačního cyklu
    </ion-label>
    <ion-select value="28" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="22">Brown</ion-select-option>
        <ion-select-option value="23">Brown</ion-select-option>
        <ion-select-option value="24">Brown</ion-select-option>
        <ion-select-option value="25">Brown</ion-select-option>
        <ion-select-option value="26">Brown</ion-select-option>
        <ion-select-option value="27">Brown</ion-select-option>
        <ion-select-option value="28">Brown</ion-select-option>
        <ion-select-option value="29">Brown</ion-select-option>
        <ion-select-option value="30">Brown</ion-select-option>
    </ion-select>
  </ion-item>
  
	<ion-item>
      <ion-label>
        Délka trvání ovulace
      </ion-label>
      <ion-select value="2" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="2">Brown</ion-select-option>
          <ion-select-option value="3">Brown</ion-select-option>
          <ion-select-option value="4">Brown</ion-select-option>
          <ion-select-option value="5">Brown</ion-select-option>
          <ion-select-option value="6">Brown</ion-select-option>
          <ion-select-option value="7">Brown</ion-select-option>
      </ion-select>
    </ion-item>
	<ion-item lines="none">
		<ion-button (click)="addNote();" color="orange">Přidat</ion-button>
	</ion-item>
</ion-content>