// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


.menuitem {
    //border-bottom: 1px solid map-get($map: $colors, $key: secDark) !important;
}

ion-menu .item-md {
    background-color: transparent!important;
    color: white;
}
ion-menu .menuitem {
	border-bottom: 1px solid white!important;
}
ion-menu .bottom-menu .menuitem {
	box-shadow: 2px 0px 8px white;
	border-bottom: none!important;
}



// ##### GLOBAL STYLES #####

.menu-tree {
  text-align: center;

  img {
    margin-top: -18px;
    position: absolute;
    left: 29%;
    bottom: 0px;
    width: 42%;
  }

}



ion-item.menuitem ion-icon {
    color: #F2F2F2;
  }
  
  .item-inner .input-wrapper ion-label {
    color: #F2F2F2;
  }
  
  .sidenote {
    font-family: "KabanaBook" !important;
    font-weight: 400;
  }
  
  .ma-centered {
    margin: 0 auto !important;
    text-align: center !important;
  }
  
  /*.content-md {
    background-color: map-get($colors, secLight) !important;
  }*/
  
  /*.toolbar-md {
    border-bottom: 4px solid map-get($colors, secDark) !important;
  }*/
  
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }
  
  .toolbar-title-md, .bar-button-default-md {
    //color: map-get($colors, secLightText) !important;
  }
  
  .menu-inner .scroll-content:after {
    width: 100%;
    height: 61px;
    position: absolute;
    bottom: -28px;
    left: 0px;
    content: "";
    background: transparent url("../assets/imgs/trava.png");
  }
  
  ion-menu .bottom-menu .menuitem {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  
  /*.item-md {
    background-color: map-get($colors, secLight) !important;
  }*/
  
  .ion-page {
    background: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
          ), url('../assets/imgs/pozadi3.png');
    //background: url("../../assets/imgs/pozadi2.png");
    background-size: cover;
  }
  
  .header .toolbar-md-primDark .toolbar-background-md, .header .toolbar-background-md, .toolbar .toolbar-background-md {
    background: transparent;
  }
  
  .toolbar .toolbar-background.toolbar-background-md {
      background: transparent;
  }
  
  .ion-page > ion-content, .ion-page, .content-md {
    background-color: transparent;
    color: white;
  }
  
  .toolbar-md-primDark .toolbar-background-md, .toolbar-background-md {
    background-color: transparent;
  }
  
  .menu-inner .header, .menu-inner .content, .menu-inner .scroll-content, .menu-inner .footer {
    //background: #373B44 url("../assets/imgs/pozadi3.png");  /* fallback for old browsers */
    background: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
          ), url('../assets/imgs/pozadi3.png');
    background-size: cover;
    //background: -webkit-linear-gradient(to right, #70bc1a, #44720e);
    //background: linear-gradient(to right, #70bc1a, #44720e);
    //background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .bottom-menu.list {
    margin: 0px auto;
  }
  
  .menu-inner .item-md-primDark {
    background-color: transparent!important;
  }
  
  .item-md {
    background-color: transparent!important;
    color: white;
  }
  
  .item-inner {
    background-color: transparent;
    color: white;
  }
  .label-md-primNormal, .item-input .label-md-primNormal, .item-select .label-md-primNormal, .item-datetime .label-md-primNormal {
    color: white!important;
  }