.toppadding0 ion-label {
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;
    margin-bottom: 0;
}

ion-item h5 {
    margin-top: 4vh !important;
    text-align: center;
} 

.no-acc {
    background-color: var(--ion-color-green-shade);
    color: var(--ion-color-sec-light-text);
}

ion-item.login-button, .bottom-menu ion-item {
    background-color: var(--ion-color-green-shade);
    color: var(--ion-color-sec-light-text);
}

.no-acc {
    background-color: transparent;
    color: var(--ion-color-sec-light-text);
    ion-item {
        border: 1px solid white;
        border-radius: 8px;
    }
}

ion-list {
    margin-bottom: 12px;
}

.logos ion-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(248, 248, 248, 0.9);
    font-size: 32px;
    ion-icon {
        margin-right: 4px;
    }
}