

.navigation ion-col {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

fa-icon {
  color: orange;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation {
  padding: 6px;
  margin-bottom: 4px;
  line-height: 2em;
}

.current-month {
  padding-top: 5px;
}

.current-month h2 {
  color: white;
  margin: 0;
}

.day-names {
  padding: 0px;
  background-color: var(--ion-color-orange);
  color: white;
  font-weight: 300;
}


.r0 {
}
.r-1 {
  display:none;
}

.r25 {
  background-image: linear-gradient(180deg, transparent 50%, var(--ion-color-orange) 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.r50 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

.r75 {
  background-image: linear-gradient(180deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.r100 {
  background: white;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  bottom: 4px;
  background-color: var(--ion-color-orange);
  border: 2px solid var(--ion-color-orange);
}

.day-apple {
  width: 90%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 5%;
  z-index: 1;
  img {
    width: 12px;
    height: auto;
  }
  * {
    margin-right: 2px;
  }
}

.day-num {
  padding: 12px 8px;
  border-left: 0px solid var(--ion-color-orange-tint);
  border-bottom: 0px solid var(--ion-color-orange-tint);
  background-color: transparent;
  color: white;
  font-weight: 300;
  transition: 0.5s;

  
}
/*.day-nums:nth-child(odd) {
  background-color: #e1e1e1;
}*/

.day-nums {
  border-right: 0px solid var(--ion-color-orange-tint);
  ion-col {
    padding: 0px;
    border: 1px solid rgba(247, 128, 0, 0.2) !important;
  }
}

.today {
  font-weight: 900;
  background-color: var(--ion-color-sec-light);
}

.selected {
  background-color: var(--ion-color-orange);
  color: var(--ion-color-orange-contrast) !important;
}

.rated {
  color: var(--ion-color-orange);
  //background-color: map-get($map: $colors, $key: "orangeLight");
}

.date-text {
  font-size: 14px;
}

.disabled-days {
  color: var(--ion-color-yellow-shade);
}

ion-content ion-card.card-md.card-md-primLight.card {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373b44); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
