<ion-header>
  <ion-toolbar color="primDark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Jak to funguje?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      Svůj strom zaliješ pozitivní energií, kterou zadáváš každý den do kalendáře.
    </ion-card>
    
  <ion-card>
      Červené jablko si můžeš vzít jednou za sedm dní. Když ho vezmeš, začnou se ti odečítat dny nad stromem. Když vezmeš červené jablko, ukáže se ti v kalendáři.
    </ion-card>
    
  <ion-card>
    Zlaté jablko je možné získat po sedmi dnech až jako úplně poslední jablko na stromě, pokud správně odpovíš na zadanou otázku. Sebrané jablko se ti přičte do profilu. Jakmile nasbíráš 12 jablek, tvůj profil stoupá na další úroveň. Zlaté jablko se ti zobrazí v kalendáři. 
    </ion-card>
    
    <ion-card>
      Starej se o svůj strom. Když o něj budeš pečovat, zchřadne. Jakmile ho opět zaliješ svou pozitivní energií, opět se rozzáří.
    </ion-card>
</ion-content>
