<ion-header>
  <ion-toolbar color="primDark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ostatní</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      Vytvoření motivačního videa
    </ion-list-header>
    <div *ngIf="hasVideo(); else novideo">
      <ion-button full (click)="playVideo()">Použít výchozí video</ion-button>
      <ion-button full (click)="captureVideo()">Nahrát nové video</ion-button>
    </div>
    <ng-template #novideo>
      <ion-button full (click)="captureVideo()">Nahrát své video</ion-button>
      <ion-button full (click)="useDefaultVideo()">Použít výchozí video</ion-button>
    </ng-template>
  </ion-list>
</ion-content>