/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
*/


.menu-tree {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  overflow: hidden;

  img {
    width: 42%;
    position: relative;
    margin-top: -18px;
    bottom: -16px;
  }

}

.menuitem {
  //border-bottom: 1px solid map-get($map: $colors, $key: secDark) !important;
}

ion-input {
  --highlight-color-focused: white;
  --highlight-color-valid: white;
  --highlight-color-invalid: white;
}

ion-item {
  --color: white;
  --color-activated: white;
  --color-focused: white;
  --highlight-color-focused: #E2E2E2;
  --background-focused: black;
}

.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h {
  color: white;
}

ion-picker {
  --background: rgba(248, 248, 248, 0.6)!important;
  --color: white;
}

.alert-wrapper {
  --background: white;
  .alert-radio-icon {
    border-color: var(--ion-color-green-tint)!important;
  }
  .alert-radio-inner {
    background-color: var(--ion-color-green-tint);
  }
  .alert-button {
    color: #333333;
  }
}

.picker-button.sc-ion-picker-md, .picker-button.activated.sc-ion-picker-md {
  color: white;
}

.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
  color: rgba(268, 268, 268, 1);
}

ion-menu ion-item {
  background-color: transparent!important;
  color: #E2E2E2;
  ion-icon {
    color: rgba(226, 226, 226, 0.9);
  }
}
/*ion-menu .menuitem {
 border-bottom: 1px solid white!important;
}*/
ion-menu .bottom-menu .menuitem {
  box-shadow: 2px 0px 8px white;
  border-bottom: none!important;
}


ion-item.menuitem ion-icon {
    color: #F2F2F2;
  }
  
  .item-inner .input-wrapper ion-label {
    color: #F2F2F2;
  }
  
  .sidenote {
    font-family: "KabanaBook" !important;
    font-weight: 400;
  }
  
  .ma-centered {
    margin: 0 auto !important;
    text-align: center !important;
  }
  
  /*.content-md {
    background-color: map-get($colors, secLight) !important;
  }*/
  
  /*.toolbar-md {
    border-bottom: 4px solid map-get($colors, secDark) !important;
  }*/
  
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }
  
  .toolbar-title-md, .bar-button-default-md {
    //color: map-get($colors, secLightText) !important;
  }
  
  ion-menu ion-content:after {
    width: 100%;
    height: 61px;
    position: absolute;
    bottom: -24px;
    left: 0px;
    content: "";
    background: transparent url("./assets/imgs/trava.png");
  }
  
  ion-menu .bottom-menu .menuitem {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  
  /*.item-md {
    background-color: map-get($colors, secLight) !important;
  }*/
  
  .ion-page {
    background: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
          ), url('./assets/imgs/pozadi3.png');
    //background: url("../../assets/imgs/pozadi2.png");
    background-size: cover;
  }
  
  .header .toolbar-md-primDark .toolbar-background-md, .header .toolbar-background-md, .toolbar .toolbar-background-md {
    background: transparent;
  }
  
  .toolbar .toolbar-background.toolbar-background-md {
      background: transparent;
  }
  
  .ion-page > ion-content, .ion-page, .content-md {
    background-color: transparent;
    color: white;
  }
  
  .toolbar-md-primDark .toolbar-background-md, .toolbar-background-md {
    background-color: transparent;
  }
  
  ion-menu ion-header, ion-menu ion-content, ion-menu .scroll-content, ion-menu ion-footer {
    //background: #373B44 url("../assets/imgs/pozadi3.png");  /* fallback for old browsers */
    background: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
          ), url('./assets/imgs/pozadi3.png');
    background-size: cover;
    //background: -webkit-linear-gradient(to right, #70bc1a, #44720e);
    //background: linear-gradient(to right, #70bc1a, #44720e);
    //background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .bottom-menu.list {
    margin: 0px auto;
  }
  
  ion-menu .item-md-primDark {
    background-color: transparent!important;
  }
  
  .item-md {
    background-color: transparent!important;
    color: white;
  }
  
  .item-inner {
    background-color: transparent;
    color: white;
  }
  .label-md-primNormal, .item-input .label-md-primNormal, .item-select .label-md-primNormal, .item-datetime .label-md-primNormal {
    color: white!important;
  }




$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

/* GREEN */
  primNormal: #5a9913,
  primLight:  #70bc1a,
  primDark:   #5a9913,
  secNormal:  #D5C500,
  secLight:   #EEE6C6, 
  secDark:    #c8b900,
  secLightText: #fffaea,

/* RED */
  redNormal: #D62828,
  redLight: #F43366,
  redDark: #c10a21,

/* ORANGE */
  orangeNormal: #F77F00,
  orangeLight: #FF9F1C,
  orangeDark: #F77F00,

/* YELLOW */
  yellowNormal: #FDE74C,
  yellowLight: #F5CB5C,
  yellowDark: #fcb010

/*
  BLUE
  primNormal: #5a9913,
  primLight:  #3D99CC,
  primDark:   #2980b9,
  secNormal:  #D5C500,
  secLight:   #EEE6C6, 
  secDark:    #c8b900,
  secLightText: #fffaea
*/
  
/*
  primNormal: #4caf50,
  primLight:  #80e27e,
  primDark:   #087f23,
  secNormal:  #bdbdbd,
  secLight:   #efefef, 
  secDark:    #8d8d8d*/
);


$segment-button-ios-text-color: nth($colors, 5);
$segment-button-md-text-color-activated:nth($colors, 5);
$segment-button-wp-text-color-activated:nth($colors, 5);

/* Přepínaní mezi klasickými a oblíbenými */
$segment-button-md-border-bottom-width: 6px;
//$segment-button-md-border-bottom-color: map-get($colors, redNormal);
//$segment-button-md-border-color-activated: map-get($colors, orangeDark);
$segment-button-md-border-bottom-color: map-get($colors, primNormal);
$segment-button-md-border-color-activated: map-get($colors, primDark);



// ##### INPUTS ##### 

$ma-label-text-color: map-get($colors, primNormal);
$ma-label-text-color-focused: map-get($colors, secDark);


$text-input-ios-highlight-color: $ma-label-text-color;
$text-input-md-highlight-color: $ma-label-text-color-focused;

$label-ios-text-color: $ma-label-text-color;
$label-ios-text-color-focused: $ma-label-text-color-focused;

$label-md-text-color: $ma-label-text-color;
$label-md-text-color-focused: $ma-label-text-color-focused;

$label-wp-text-color:$ma-label-text-color;
$label-wp-text-color-focused:$ma-label-text-color-focused;

$toolbar-md-button-color: map-get($colors, secLight);
$toolbar-md-title-text-color: map-get($colors, secLight);
/*$item-md-sliding-content-background: map-get($colors, primDark);*/
$item-md-divider-color: map-get($colors, secDark);

