page-testing {
    .scroll-content {
		overflow: hidden;
	}
	
	.odst {
		font-size: 1em;
		line-height: 3em;
	}

	.part {
		height: 30px;
		color: black;
		width: 60px;
	}

	.tree {
		width: 80%;
		margin: 0px auto;
		position: absolute;
		bottom: -20px;
		left: 10%;
	}

	.tree:after {
		width: 100vw;
		height: 61px;
		position: absolute;
		bottom: 16px;
		left: -36px;
		content: "";
		background: transparent url("../assets/imgs/trava.png");
	}

	.konvicka {
		width: 80px;
		height: 80px;
		position: absolute;
		bottom: 15px;
		right: 15px;
		transform: rotate(50deg);
		transition: 0.5s;
	}

	.kapky {
		width: 80px;
		height: 160px;
		display: none;
		position: absolute;
		bottom: 50%;
		right: 100px;
	}

	/* JABLKA */

	.apple {
		width: 40px;
		height: 40px;
		position: absolute;
	}

	.tree {
		.apple.first {
			top: 40px;
			left: 80px;
		}

		.apple.second {
			top: 80px;
			left: 40px;
		}

		.apple.third {
			top: 40px;
			left: 40px;
		}

		.apple.fourth {
			top: 80px;
			left: 80px;
		}
	}
}
